body{
    background-image: url("../assets/img/72fD.gif");
    background-size: 100%;
}
div{
    color: white;
}
h1{
    font-size: 5rem;
    color: aliceblue;
    text-align: center;
}
a{
    text-decoration: none;
    text-align: center;
}