/* ------ MAIN ------ */
.cuerpo__ppal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    iframe {
        width: 60%;
        border-radius: 40px;
        scale: 95%;
        padding: 0 1rem;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        height: 25rem;
    }

    a {
        text-decoration: none;
        color: aliceblue;
        &:hover{
            color: burlywood;
        }
    }
    .texto_ppal{
        height: 90%;
        padding: 0 2rem;
    }
}

.carrousel {
    display: flex;
    justify-content: center;
}